<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Notify" requirePermission="false" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Check" requirePermission="false" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Check1" requirePermission="false" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2"/>
    <sharedListeners>
      <add name="TracingListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" traceOutputOptions="DateTime"/>
      <add name="PerformanceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="performance.log"/>
    </sharedListeners>
    <sources>
      <source name="Tracing" switchValue="All">
        <listeners>
          <add name="TracingListener"/>
        </listeners>
      </source>
      <source name="Performance" switchValue="Information">
        <listeners>
          <add name="PerformanceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <Notify>
    <!-- eSysADM URL to notify results -->
    <add key="eSysAdm_notify" value="true"/>
    <!-- 0=> test_name, 1=> elapsed, 2=> interation, 3=> testresult -->
    <add key="notify_step" value="http://localhost:6969/rest/feed/test?Metric.NAS:{0}={1}"/>
    <!-- 0=> test_name, 1=> I/O time, 2=> connection time, 3=> testresult -->
    <add key="notify" value="http://localhost:6969/rest/feed/test?Timings.Share+Connect+Time:{0}={2};Timings.Share+Write+Time:{0}={1};Alerts.Share:Check+share+{0}={3}!"/>
    <add key="use_proxy" value="false"/>
  </Notify>
  <Check>
    <add key="name" value="Local file"/>
    <add key="testPath" value="c:\temp\testfile.dat"/>
    <add key="size" value="210000"/>
    <add key="steps" value="1"/>
  </Check>
  <Check1>
    <add key="name" value="Remote File"/>
    <add key="testPath" value="\\localhost\c$\temp\testfile.dat"/>
    <add key="size" value="210000"/>
    <add key="steps" value="1"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="domain" value=""/>
  </Check1>
</configuration>
